In [1]:
import pandas as pd
from tabula import read_pdf
import numpy as np
from datetime import datetime

In [2]:
pd.set_option('display.max_columns', 50)

# US Divorce Rates by States Dataset

In [3]:
# Read pdf file
df = read_pdf("state-divorce-rates-90-95-99-18.pdf")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'state-divorce-rates-90-95-99-18.pdf'

In [ ]:
divorce = df.copy()
divorce.dtypes

In [ ]:
# Drop columns with null values
divorce = divorce.dropna(axis=1, how='all')
# Set column names
divorce.columns = divorce.iloc[0]
divorce = divorce.drop(divorce.index[0])
divorce.head()

In [ ]:
# Set 'State_name' column
divorce = divorce.rename(columns={np.nan: 'State_name'})
divorce.head()

In [ ]:
# Column '2005' and '2004' are grouped together
# Split column '2005 2004'
divorce[['2005', '2004']] = divorce['2005 2004'].str.split(expand=True)
# Drop column '2005 2004'
divorce = divorce.drop(columns='2005 2004')
divorce.head()

In [ ]:
# List of states
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
# Create 'State' column
divorce['State'] = states
divorce.head()

In [ ]:
# Reorder columns
divorce = divorce[['State','State_name','2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']]
# Convert object columns to float
divorce[['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']] = divorce[['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']].apply(pd.to_numeric, errors='coerce')
divorce.head()

In [ ]:
# Year list
years=['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']
# Unpivot table
melt_divorce = pd.melt(divorce, id_vars=['State','State_name'], value_vars=years)
melt_divorce.columns = ['State', 'State_name', 'Year','Divorce_rate']
melt_divorce.head()

In [ ]:
# Create pivot table
divorce_pivot = pd.pivot_table(melt_divorce, values='Divorce_rate',index=['State', 'State_name'],columns='Year' )
# marriage_pivot.columns = pd.to_datetime(marriage_pivot.columns,format='%Y').year
divorce_pivot.head()

In [ ]:
# Save to csv
divorce_pivot.to_csv(r'cleaned_data\divorce_by_state.csv')

In [ ]:
# Save to SQL
    # Connection string
    try:
        db_string = f'postgres://postgres:{db_password}@127.0.0.1:5432/movie_data'
    except:
        print('Error creating connection string')

In [ ]:
 # Create database engine
    engine = create_engine(db_string)
    # replace the movie records in movies table
    engine.execute('DELETE FROM movies')
    movies_df.to_sql(name='movies', con=engine, if_exists='append')

    # replace the rating records in ratings table
    engine.execute('DELETE FROM ratings')

# US Marriage Rates by State: Dataset

In [ ]:
# read pdf file
df = read_pdf("state-marriage-rates-90-95-99-18.pdf")
df.head()

In [ ]:
# Copy dataframe
marriage = df.copy()
marriage.dtypes

In [ ]:
# Drop columns with null values
marriage = marriage.dropna(axis=1, how='all')
# Set column names
marriage.columns = ['State_name','2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008_2007_2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']
marriage = marriage.drop(marriage.index[0])
marriage.head()

In [ ]:
# Column '2008','2007' and '2006' are grouped together
# Split column '2008_2007_2006'
marriage[['2008', '2007','2006']] = marriage['2008_2007_2006'].str.split(expand=True)
# Drop column '2008_2007_2006'
marriage = marriage.drop(columns='2008_2007_2006')
# List of states
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
# Create 'State' column
marriage['State'] = states
# Reorder columns
marriage = marriage[['State','State_name','2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']]
marriage.head()

In [ ]:
# Convert object columns to float
marriage[['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']] = marriage[['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000',
       '1999', '1995', '1990']].apply(pd.to_numeric, errors='coerce')
marriage.head()

In [ ]:
# Unpivot table
melt_marriage = pd.melt(marriage, id_vars=['State','State_name'], value_vars=years)
melt_marriage.columns = ['State', 'State_name', 'Year','Marriage_rate']
melt_marriage.head()

In [ ]:
# Create pivot table
marriage_pivot = pd.pivot_table(melt_marriage, values='Marriage_rate',index=['State', 'State_name'],columns='Year' )
# marriage_pivot.columns = pd.to_datetime(marriage_pivot.columns,format='%Y').year
marriage_pivot.head()

In [ ]:
# Save to csv
marriage_pivot.to_csv(r'cleaned_data\marriage_by_state.csv')

# US Marriage and Divorce Rate over the years

In [ ]:
df1,df2 = read_pdf('national-marriage-divorce-rates-00-18.pdf', pages='all', multiple_tables=True)
df1.head()

In [ ]:
national_marriage = df1.copy()
national_divorce = df2.copy()

## National Marriage Rate

In [ ]:
# Rename columns and drop the first 3 rows, reset index for national MARRIAGE table
national_marriage.columns=['Year','Marriages','Population','Rate per 1,000 total population']
national_marriage = national_marriage.drop(national_marriage.index[0:3]).reset_index(drop=True)
national_marriage.head()

In [ ]:
# Correct Year column
years =[]
for year in national_marriage['Year']:
    first_year= year[:4]
    years.append(first_year)
national_marriage = national_marriage.drop(columns='Year')
national_marriage['Year'] = years
# Reorder column
national_marriage = national_marriage[['Year','Marriages','Population','Rate per 1,000 total population']]
national_marriage

In [ ]:
# Save to csv file
national_marriage.to_csv(r'cleaned_data\us_marriage_rate.csv', index=False)

## National Divorce Rate

In [ ]:
# Rename columns and drop the first 3 rows, reset index for national DIVORCE table
national_divorce.columns=['Year','Divorces & annulments','Population','Rate per 1,000 total population']
national_divorce = national_divorce.drop(national_divorce.index[0:3]).reset_index(drop=True)
national_divorce.head()

In [ ]:
# Correct Year column
years =[]
for year in national_divorce['Year']:
    first_year= year[:4]
    years.append(first_year)
national_divorce = national_divorce.drop(columns='Year')
national_divorce['Year'] = years
# Reorder column
national_divorce = national_divorce[['Year','Divorces & annulments','Population','Rate per 1,000 total population']]
national_divorce

In [ ]:
# Save to csv file
national_divorce.to_csv(r'cleaned_data\us_divorce_rate.csv', index=False)

# Divorce Rate by Occupation

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/1-JVVCiuXBZEpU6_5HsZLYyblVClpEW0ucYBafkNbaYI/pubhtml#'
html_tables= pd.read_html(url, header=1, index_col=0)
df = html_tables[0]
df.head()

In [ ]:
# Save to csv file
df.to_csv(r'cleaned_data\divorce_by_occupation.csv', index=False)

# Marriage and Divorce Rate by Race

In [ ]:
dfs = read_pdf('nihms777225.pdf', pages='all', multiple_tables=True)
dfs[0].head()

## Marriage Rate by Race

In [ ]:
# Marriage rate by Race
marriage_race = dfs[0].iloc[:7].reset_index(drop=True)
marriage_race.columns = marriage_race.iloc[0]
marriage_race = marriage_race.drop(marriage_race.index[0])
marriage_race = marriage_race.dropna(axis=1, how='all')
marriage_race

In [ ]:
# Display column names
marriage_race.columns

In [ ]:
# Column 'American Indian/Native Alaskan Hispanic, Total' are grouped together
# Split column 'American Indian/Native Alaskan Hispanic, Total'
marriage_race[['American Indian/Native Alaskan', 'Hispanic, Total']] = marriage_race['American Indian/Native Alaskan Hispanic, Total'].str.split(expand=True)
# Drop column 'American Indian/Native Alaskan Hispanic, Total'
marriage_race = marriage_race.drop(columns='American Indian/Native Alaskan Hispanic, Total')
marriage_race.head()

In [ ]:
races=['White', 'Black', 'Asian/Pacific Islander',
       'American Indian/Native Alaskan', 'Hispanic, Total', 'Hispanic, U.S. born',
       'Hispanic, foreign born']
# Unpivot table
melt_marriage_race = pd.melt(marriage_race, id_vars=['Age'], value_vars=races)
melt_marriage_race.columns = ['Age', 'Race', 'Marriage_Rate']
melt_marriage_race.head()

In [ ]:
# Pivot table
pivot_marriage_race = pd.pivot_table(melt_marriage_race, values='Marriage_Rate', index=['Age'],
                    columns=['Race'], aggfunc=np.sum)
pivot_marriage_race

In [ ]:
# Save to csv file
pivot_marriage_race.to_csv(r'cleaned_data\marriage_rate_by_race.csv', index=False)

## Divorce Rate by Race

In [ ]:
# DIVORCE rate by Race
divorce_race = dfs[0].iloc[8:].reset_index(drop=True)
divorce_race.columns = divorce_race.iloc[0]
divorce_race = divorce_race.drop(divorce_race.index[0])
divorce_race = divorce_race.dropna(axis=1, how='all')
divorce_race

In [ ]:
# Column 'American Indian/Native Alaskan Hispanic, Total' are grouped together
# Split column 'American Indian/Native Alaskan Hispanic, Total'
divorce_race[['American Indian/Native Alaskan', 'Hispanic, Total']] = divorce_race['American Indian/Native Alaskan Hispanic, Total'].str.split(expand=True)
# Drop column 'American Indian/Native Alaskan Hispanic, Total'
divorce_race = divorce_race.drop(columns='American Indian/Native Alaskan Hispanic, Total')
divorce_race.head()

In [ ]:
# Unpivot table
melt_divorce_race = pd.melt(divorce_race, id_vars=['Age'], value_vars=races)
melt_divorce_race.columns = ['Age', 'Race', 'Divorce_Rate']
melt_divorce_race.head()
# Pivot table
pivot_divirce_race = pd.pivot_table(melt_divorce_race, values='Divorce_Rate', index=['Age'],
                    columns=['Race'], aggfunc=np.sum)
pivot_divirce_race

In [ ]:
# Save to csv
pivot_divirce_race.to_csv(r'cleaned_data\divorce_rate_by_race.csv', index=True)