In [1]:
from ml import forecast

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# Load the data
file_path = Path('divorce.csv')
divorce_df = pd.read_csv(file_path, sep=';')

In [3]:
# Create our features
X = divorce_df.drop(columns='Class')

# Create our target
y = divorce_df['Class'].copy()

# Create X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [4]:
x=[]
indexes = [f'Atr{i}' for i in range(1,55)]
for i in range(0,54):
    x.append(4)
x = pd.DataFrame([x], columns=indexes)
x

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr45,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54
0,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4

In [5]:
forecast(x)

'divorced'

In [8]:
X_test[1:2]

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr45,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54
91,0,0,0,0,0,0,0,0,0,0,...,0,2,0,2,3,2,2,1,1,0

In [9]:
import myapp

ModuleNotFoundError: No module named 'psycopg2'